.follow-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}


.follow-up__messages__item {
    display: flex;
    width: 380px;
    height: 67px;
    background: #FFFFFF;
    box-shadow: 0px 13.8611px 55.4444px #F2F5FA;
    border-radius: 16.6333px;
    margin: 8px 0;
}

.follow-up__messages > .item-1 {
    animation: floating 1.5s linear infinite;
}

.follow-up__messages > .item-2 {
    animation: floating 1.5s linear infinite 0.5s;
}

.follow-up__messages > .item-3 {
    animation: floating 1.5s linear infinite 1s;
}

.follow-up__messages__text {
    font-size: 0.7rem;
    line-height: 150%;
    margin-top: 20px;
}

.follow-up__girl__image {
    padding-left: 10px;
}

.follow-up__green__text {
    color: green;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .follow-up__messages {
        margin: 35px auto;
    }
}

.follow-up__reminders {
    width: 344px;
}

.follow-up__reminders__list-item {
    display: flex;
    align-content: center;
    margin-right: 40px;
    margin-bottom: 10px;
}

.follow-up__list {
    list-style-image: url(../images/green-mark.svg);
    padding-left: 0.9rem;
    width: 13rem;
    height: 3rem;
    display: grid;
    grid-template-columns: 7.6rem 6.6rem;
    grid-template-rows: 2rem 1rem;
    font-size: 0.5rem;
}

.item__list__follow-up {
    display: flex;
    align-content: center;
    margin-right: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 11px;
    line-height: 150%;
    color: #73738D;
}



@media screen and (max-width: 768px) {
    .follow-up__list{
        margin: auto;
    }


    .follow-up__reminders .paragraph{
        margin-top: -1rem;
        width: 100%;
    }

    .follow-up__reminders {
        width: 100%;
    }
}

@media screen and (max-width: 443px) {
    .follow-up__messages, .follow-up__messages__item {
        margin: auto 1.2rem;
        padding: auto 1.2rem;
        width: 18.7rem;
    }
}