.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__footer {
    margin-top: 2.2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #222222;
}

.paragraph__title {
    margin-top: -10px;
    font-weight: 500;
    font-size: 0.7rem;
    color: #73738D;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: auto;
    }
}