
/* helpers */
@import "./normalize.min.css";

/* globals */
@import "./globals.css";
@import "./animation.css";

/* sections */
@import "./header.css";
@import "./hero.css";
@import "./follow-up.css";
@import "info.css";
@import "./green_circles.css";
@import "./connected.css";
@import "./trial.css";
@import "./footer.css";